# Server Configuration
PORT=3000

# Database Configuration
# For local development (without Docker)
MONGO_URI=mongodb://localhost:27017/pehenava

# For MongoDB Atlas
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/pehenava?retryWrites=true&w=majority

# For Docker Compose
# MONGO_URI=mongodb://mongo:27017/pehenava
